@charset "UTF-8";

.d-header-wrap{
  margin-top: 1%;
}

/* contentã®top */
.con-top{
  width: 100%;
}

.con-top-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5%;
  position: relative;
}

.con-top-wrap-bg{
  font-size: 2rem;
  width: 50%;
  height: 65vh;
  background-color: rgba(119, 176, 229, 0.9);
  clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
}

.con-top-wrap p{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}


.con-top-wrap__ttl small{
  display: block;
  font-size: 1rem;
}

.con-top-bgi{
  width: 80%;
  height: 65vh;
  position: absolute;
  right: 0;
  z-index: -1;
}

.breadcrumb {
  width: 90%;
  margin: 2.5% auto 0;
}

.breadcrumb-wrapper__list {
  display: flex;
}

.breadcrumb-wrapper__list__item {
  font-size: 1.25rem;
}

.breadcrumb-wrapper__list__item::after {
  content: ">";
  padding: 0 10px;
  font-size: 1.25rem;
}

.breadcrumb-wrapper__list__item:last-child::after {
  content: "";
}

.b-color {
  color: #2A95F8;
  font-weight: 700;
}


@media screen and (max-width: 1024px){
  .breadcrumb {
    width: 90%;
    margin: 3.5% auto 0;
}


}


@media screen and (max-width: 768px){
.breadcrumb {
    width: 90%;
    margin: 3.5% auto 0;
}

.con-top-wrap__ttl{
  font-size: 1.3rem;
}

.con-top-wrap__ttl small{
  display: block;
  font-size: 0.6rem;
}


.breadcrumb-wrapper__list__item a{
  font-size: 0.8rem;
}

}


@media screen and (max-width: 425px){

  .con-top-bgi{
  width: 80%;
  height: 75vh;
  position: absolute;
  right: 0;
  z-index: -1;
}

.con-top-wrap-bg{
  font-size: 2rem;
  width: 50%;
  height: 75vh;
  background-color: rgba(119, 176, 229, 0.9);
  clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
}


.con-top-wrap__ttl small{
  display: block;
  font-size: 0.5rem;
}
}
