@charset "UTF-8";
._service{
  background-image: url(../img/Serviceーfv.jpg);
  background-size: cover;
  background-position: 50%;
}

.service-wrap{
  margin: 0 auto;
  padding: 2% 0;
}

.service-wrap-ttl{
  padding-left: 10%;
}

.service-wrap-con{
  padding: 2% 0;
  position: relative;
}

.service-wrap-con-item{
  padding-bottom: 2%;
}

.service-wrap-con-item-ttl{
  text-align: center;
  background-color: #3D3A3A;
  color: #fff;
}

.service-wrap-con-item-ttl h4{
  padding: 2% 0 4% 0;
  font-size: 1.2rem;
}

.service-wrap-con-item-ttl img{
  width: 300px;
  aspect-ratio: 5/4;
}

.service-wrap-con-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-wrap-con-item-txt{
  width: 30%;
  background-color: #fff;
  width: 30%;
  padding: 3%;
  align-items: baseline;
  border: solid 2px #ddd;
  box-shadow: 20px 20px 30px #ddd;
  margin-top: 10%;
}

.service-wrap-con-item-txt h5{
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 2%;
}

@media screen and (max-width: 768px){
  .service-wrap-con-item-txt{
  width: 40%;
  }

  .item2{
    margin-top: 20%;
  }

  .header-wrapper__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper__nav__list__item{
  text-align: center;
  padding: 0 5%;
  margin-top: 20px;
  border-left: solid 2px #000;
  border-right: solid 2px #000;
}

.header-wrapper__nav__list__item a{
  color: #000;
}

header .drawer {
  visibility: visible;
  width: 24px;
  position: absolute;
  top: 15px;
  right: 25px;
  border-top: solid 4px #aaaaaa;
  cursor: pointer;
  z-index: 100;
}

header .drawer::before,
header .drawer::after {
  content: "";
  display: block;
  width: 24px;
  background: #aaaaaa;
  height: 4px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s;
}

header .drawer::before {
  top: 6px;
}

header .drawer::after {
  top: 15px;
}
header .header-wrapper__nav {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: #fff;
}

header .header-wrapper__nav__list {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

header .header-wrapper__nav__list__item {
  margin: 5% auto;
}

header .header-wrapper__nav__list__item a{
  line-height: 3;
  font-size: 1.5rem;
}

header .header-wrapper__nav__list__item.__contact {
  width: 13.5rem;
  border-radius: 50px;
}

body.nav-open header .drawer {
  border-top: 0;
}

body.nav-open header .drawer::before {
  top: 9px;
  transform: rotate(-45deg);
}

body.nav-open header .drawer::after {
  top: 9px;
  transform: rotate(45deg);
}
}

@media screen and (max-width: 500px){
  .service-wrap-con-item{
    display: block;
    margin-bottom: 5%;
  }

  .service-wrap-con-item-ttl{
    width: 300px;
    margin: 0 auto;
  }

  .service-wrap-con-item-txt{
    width: 300px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px){
  .service-wrap-con-item-ttl img{
  width: 250px;
  aspect-ratio: 5/4;
}

.service-wrap-con-item-ttl{
  text-align: center;
  background-color: #3D3A3A;
  color: #fff;
  width: 250px;
}

.service-wrap-con-item-txt{
  width: 65%;
}

.service-wrap-con-item-txt h5{
  font-size: 1.3rem;
}

.service-wrap-con-item-txt p{
  font-size: 0.8rem;
}
}

@media screen and (max-width: 375px){
.service-wrap-con-item-ttl img{
  width: 200px;
  aspect-ratio: 5/4;
}

.service-wrap-con-item-ttl{
  text-align: center;
  background-color: #3D3A3A;
  color: #fff;
  width: 200px;
}

.service-wrap-con-item-txt{
  width: 65%;
}

.service-wrap-con-item-txt h5{
  font-size: 1rem;
}

.service-wrap-con-item-txt p{
  font-size: 0.6rem;
}

.service-wrap-con-item-ttl h4{
  font-size: 1rem;
}
}
